<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap" rel="stylesheet">
</head>

<body>

  <div class="box" id="heading">
    <h1><%= dayInfo %></h1>
  </div>

  <div class="box">
    <%for(var i=0; i<items.length;i++){%>
    <div class="item">
      <input type="checkbox">
      <p><%= items[i] %></p>
    </div>
    <%}%>

    <form class="item" action="/" method="post">
      <input type="text" name="userListItem" placeholder="Add item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>

  </div>

  <footer>©Tasin Shafi Leon</footer>

  </body>
</html>
