<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>

    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <h1>Hello, Today is <%= dayInfo %></h1>

    <ul>
      <%for(var i=0; i<items.length;i++){%>
        <li><%= items[i] %></li>
      <%}%>
    </ul>

    <form class="" action="/" method="post">

      <input type="text" name="userListItem">
      <button type="submit" name="button">Add Item</button>

    </form>

    <script src="js/index.js" charset="utf-8"></script>

  </body>
</html>
